$site-font: "Chivo", sans-serif;
$primary-color: #2b2b2b;
$secondary-color: #1a2c83;
$orange-color: #ac5c1d;
$moss-color: #8a9b68;
$burntred-color: #ad3434;

$olive-color: #89882c;
$woodsgreen-color: #787734;
$fadedgreen-color: #828258;
$smoothgreen-color: #737354;
$artichoke-color: #919174;
$nickel-color: #7c7c74;
$greennickel-color: #797a6a;
$deepnickel-color: #6c6d61;

$deeptaupe-color: #826a6b;
$deepertaupe-color: #736162;
